//
   Created by yasudayousuke on 10/24/15.

extends layout
block content
    p PassiFact
        p 
            select
                option(value ="English") English
                option(value="Math") Math
                option(value="Chinese") Chinese
                option(value = "History") History
                


