//
   Created by yasudayousuke on 10/24/15.

extends layout
block content
   div#question_box
      div#question_box_fact
      div#question_box_answer
      #c
         .s
         .s
         .s
         .s
         .s
         .s
         .s