//
   Created by yasudayousuke on 10/24/15.

extends layout
block head
   link(rel='stylesheet', href='/stylesheets/question.css')
block content
   div#question_box
      div#question_fact_box
         span#fact #[input#answer(type="text" placeholder="placeholder")] is the president of the United States
      #flip-container <!--(ontouchstart="this.classList.toggle('hover')")-->
         .flipper
            .front
               span.glyphicon.glyphicon-ok
            .back