body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image url("http://7-themes.com/data_images/out/76/7030767-3d-background-wallpaper.jpg")

a
  color: #00B7FF

div#title
  height 500px
  color #ffffff
  background-position center bottom, left top
div#list
  text-align center