body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1#sitename {
  font-size: 66px;
  text-align: center;
}
ul#courses_list img {
  width: 100%;
}
