body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
div#title {
  height: 500px;
  color: #fff;
  background-position: center bottom, left top;
}
div#list {
  text-align: center;
}
